<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FreeCRM_TestSuite">
 
 <listeners>
 	<listener class-name ="../PageObjectModel_TestNG/src/main/java/com/qa/reports/ExtentReportListener.java"/>
 </listeners>
 
  <test thread-count="5" name="FreeCRM_POM">
    <classes>
      <class name="com.qa.testcases.ContactsPage_TestCase"/>
      <class name="com.qa.testcases.HomePage_TestCase"/>
      <class name="com.qa.testcases.LoginPage_TestCase"/>
    </classes>
    
  </test> <!-- FreeCRM_POM -->
</suite> <!-- FreeCRM_TestSuite -->
